<!DOCTYPE html>
<html>
<head>
	<title>Request List</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<h1 align="center" style="color: #c11926;">Book List</h1>
		<table class="table table-bordered table-striped">			
			<thead>
				<tr width="100px">
					<th>Sl No</th>
					<th>User Name</th>
					<th>User Email</th>
					<th>User Mobile</th>
					<th>Request Date</th>
					<th>Confermation Date</th>
					<th>Status</th>					
				</tr>
			</thead>
			<tbody>
				
				<!-- <%
				var sl = 0;			
				for(var i=0; i < data.length; i++) { 
					sl++;
				%> -->
					
					<% 
					var sl = 0;
					for(var i=0; i < data[0].dataValues.issues.length; i++) { 
						sl++;
					%>
					<tr width="100px">
						<td><%=sl%></td>
						<td><%= data[0].dataValues.issues[i].User.name %></td>
						<td><%= data[0].dataValues.issues[i].User.email %></td>
						<td><%= data[0].dataValues.issues[i].User.mobile %></td>
						<td><%= data[0].dataValues.issues[i].createdAt %></td>
						<td><%= data[0].dataValues.issues[i].issueDate %></td>
						<td>						
							<% if(data[0].dataValues.issues[i].status =='R')
							{ %>
													
								<a href="/bookRequestApproveDetails/<%= data[0].dataValues.issues[i].id %>">Pending</a> OR
								<a href="/bookRequestReject/<%= data[0].dataValues.issues[i].id %>">Reject</a>

							<% }
							else if(data[0].dataValues.issues[i].status == 'A')
							{ %>
								<a href="/bookRequestConfirmedDetails/<%= data[0].dataValues.issues[i].id %>">Approve</a>

							<% }
							else if(data[0].dataValues.issues[i].status == 'C')
							{ %>
								<a href="/bookReturn/<%= data[0].dataValues.issues[i].id %>">Confirmed</a>

							<% }
							else if(data[0].dataValues.issues[i].status == 'D')
							{ %>

								<span style=" color:  #34cf4b;">Book Return Successfully</span>

							<% }
							else if(data[0].dataValues.issues[i].status == 'I')
							{ %>

								<span style=" color:  #e9271e; ">Rejected</span>

							<% } %>
						</td>						
					<tr>
				    <% }%>
								
				<% } %>

			</tbody>
			
			
		</table>
	</div>
</body>
</html>








